:root {
    --primary-color: #4F46E5;
    --primary-hover: #4338CA;
    --secondary-color: #06B6D4;

    --success-color: #22C55E;
    --warning-color: #F59E0B;
    --danger-color: #EF4444;

    --bg-color: #FAF8FF;
    --surface-color: #ffffff;

    --text-primary: #0F172A;
    --text-secondary: #64748B;
    --text-light: #94A3B8;
    --text-teritory: #464555;



    --border-color: #E2E8F0;
    --text-box-color: #C7C4D8;

    --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.08);
    --shadow-lg: 0 15px 35px rgba(0, 0, 0, 0.12);


    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;


    --transition: all 0.3s ease;

}

[data-bs-theme="dark"] {
    --bg-color: #0B0F19;
    --surface-color: #151F32;
    --border-color: #1E293B;

    --text-primary: #F8FAFC;
    --text-secondary: #94A3B8;
    --text-light: #64748B;
    --text-teritory: #A5B4FC;
    --text-box-color: #384252;

    --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.25);
    --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.35);
    --shadow-lg: 0 15px 35px rgba(0, 0, 0, 0.45);
}